
body
{
background-color:linen;
background-image:url("/home/6CSE1/Documents/31-1-20/water-1330252__340.webp");
background-repeat:repeat;
background-attachment:fixed;
background-attachment:scroll;
}

h1
{
color:maroon;
margin-left:40px;
}

p.normal
{
font-style:italic;
font-family:georgia,gramond,serif;
font-size:large;
color:blue;
font-weight:bolder;
}
p.warning
{
direction:ltr;
letter-spacing:5px;
text-align:center;
}



</style>


